<h3>Application Name: name</h3>
<div class="wrapper" [formGroup]="form" *ngIf="form">
  <div class="user-list-wrapper">
    <h4>Users</h4>
    <div class="users-container">
      <!--<div class="user-item"-->
           <!--mat-ripple-->
           <!--*ngFor="let user of (users$ | async)"-->
           <!--[ngClass]="{'user-item__selected': selectedUser && selectedUser.username === user.username}">-->
        <!--{{user.username}}-->
      <!--</div>-->
      <!--<mat-selection-list #users>-->
        <!--<mat-list-option *ngFor="let user of (users$ | async)" [selected]="selectedUser && selectedUser.username === user.username">-->
          <!--{{user.username}}-->
        <!--</mat-list-option>-->
      <!--</mat-selection-list>-->
      <mat-radio-group formControlName="username">
        <mat-radio-button [value]="null">New User</mat-radio-button>
        <mat-radio-button *ngFor="let user of users" [value]="user.username">
          {{user.username}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="edit-user-wrapper">
    <mat-form-field *ngIf="!isUserSelected">
      <label>Add New User</label>
      <input type="text" formControlName="newUsername" matInput/>
    </mat-form-field>
    <ng-container [formGroup]="form.get('permissions')">
      <mat-checkbox formControlName="canUpdate">
        Can Update
      </mat-checkbox>
      <mat-checkbox formControlName="canDelete">
        Can Delete
      </mat-checkbox>
      <mat-checkbox formControlName="canAddNewUsers">
        Can Add Users
      </mat-checkbox>
    </ng-container>
    <mat-error *ngIf="error$ | async">{{error$ | async}}</mat-error>
    <button mat-button mat-raised-button type="button" (click)="addUser()" color="primary" *ngIf="!isUserSelected">Add User</button>
    <button mat-button mat-raised-button type="button" (click)="deleteUser()" color="warn" *ngIf="isUserSelected">Delete Selected User</button>
  </div>
</div>
